#!/bin/sh

set -e

# Source debconf library.
. /usr/share/debconf/confmodule

# Establish the preliminaries.
db_version 2.0
db_capb backup

# Is the password known
db_fget phabricator/phabricator_mysql_pwd seen
if [ "$RET" = "true" ]; then
    db_get phabricator/phabricator_mysql_pwd || [ $? = 30 ]
    db_set phabricator/pwd_check "$RET"
    db_fset phabricator/pwd_check seen true
else
    db_fset phabricator/pwd_check seen false
fi

# Prompt the user for values
db_input high phabricator/domain_name || true
db_go
db_get phabricator/domain_name
if [ "$RET" = "" ]; then
  db_reset phabricator/domain_name
fi

db_input high phabricator/webserver || true
db_go
db_get phabricator/webserver

db_input low phabricator/mysql_host || true
db_input high phabricator/phabricator_mysql_user || true
db_go
db_get phabricator/phabricator_mysql_user
if [ "$RET" = "" ]; then
  db_reset phabricator/phabricator_mysql_user
fi

#ask for password
while :; do
  RET=""
  db_input high phabricator/phabricator_mysql_pwd || true
  db_go
  db_get phabricator/phabricator_mysql_pwd
  # if password isn't empty we ask for password verification
  if [ -z "$RET" ]; then
    db_fset phabricator/phabricator_mysql_pwd seen false
    db_fset phabricator/pwd_check seen false
    break
  fi
  MYSQL_PW="$RET"
  db_input high phabricator/pwd_check || true
  db_go
  db_get phabricator/pwd_check
  if [ "$RET" = "$MYSQL_PW" ]; then
    MYSQL_PW=''
    break
  fi
  db_fset phabricator/password_mismatch seen false
  db_input critical phabricator/password_mismatch
  db_set phabricator/phabricator_mysql_pwd ""
  db_set phabricator/pwd_check ""
  db_go
done
